:root {
    --font-family: "Cormorant Upright", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Bestermind", sans-serif;
    --header-txt: rgba(255, 255, 255, 1);
    --main-gold-txt: rgba(220, 202, 135, 1);
    --view-btn-txt: rgba(12, 12, 12, 1);
    --main-desc: rgba(170, 170, 170, 1);
    --main-bg: rgba(4, 4, 4, 1);
    --gallery-gradient: rgba(0, 0, 0, 0.25);
    --gallery-img-border: rgba(220, 202, 135, 0.2);
    --subscribe-input-border: rgba(245, 239, 219, 1);
    --menu-line: rgba(250, 250, 250, 1);
    --scroll-gradient-second: rgba(220, 202, 135, 0.24);
    --header-line-gradient: rgba(255, 255, 255, 0);
    --gallery-gradient-first: rgba(0, 0, 0, 0.75);
    --gallery-gradient-sercond: rgba(0, 0, 0, 0.64);
    --hero-btn-txt: rgba(12, 11, 8, 1);
    --letter-spacing-second: 0.03em;
    --line-height-smaller: 1.35;
    --line-height-third: 1.3;
    --letter-spacing-third: 0.05em;
}

body {
    line-height: 1.75;
    letter-spacing: 0.04;
    font-family: var(--font-family);
    background-color: var(--main-bg);
}

.container {
    width: 1680px;
    margin: 0 auto;
}

/* PADDING */

.header {
    padding-top: 32px;
    padding-bottom: 32px;
    background: linear-gradient(to right,
                rgba(4, 4, 4, 0.5),
                rgba(4, 4, 4, 0.5)),
                url(../images/second-page/backgrounds/background-image.jpg);
}

.hero {
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
    padding-bottom: 138px;
}

/* HEADER */


.header-link {
    color: var(--header-txt);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75px;
    letter-spacing: 4%;
    font-family: var(--second-family);
}

.header-reference {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 5%;
    text-decoration: none;
    color: var(--header-txt);
}

.header-logo {
    color: var(--header-txt);
    text-decoration: none;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3px;
    letter-spacing: 4%;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 32px;
    padding-left: 437px;
    padding-right: 271px;
}


.header-roster {
    display: flex;
}

.header-element:nth-child(1) {
    padding-right: 50px;
    border-right: 1px solid ;
}

.header-element:nth-child(2) {
    padding-left: 50px;
    border-right: 1px solid ;
}


.hero-container {
    display: flex;
}

.hero-hashtag {
    color: var(--header-txt);
    font-size: 18px;
}

.hero-hashtag-wrapper {
    display: flex;
    gap: 40px;
    writing-mode: sideways-lr;
    justify-content: flex-end;
    padding-top: 56px;
}

.hero-aside {
    color: var(--subscribe-input-border);
    font-size: 16px;
    font-weight: 600;
    writing-mode: sideways-rl;
    display: flex;
    align-self: flex-end;
    padding-bottom: 82px;
}

.hero-title {
    background: url(../images/second-page/photos/bar.jpg) center / 634px 840px no-repeat;
    padding-top: 319px;
    padding-bottom: 286px;
    color: var(--header-txt);
    line-height: var(--line-height-third);
    letter-spacing: var(--letter-spacing-third);
    font-size: 181px;
    text-align: center;
    margin: 0 auto;
}

.about {
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
    padding-top: 128px;
    padding-bottom: 128px;
}

.about-container {
    display: flex;
    gap: 143px;
    justify-content: center;
}

.about-top-img {
    padding-bottom: 40px;
}

.about-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: var(--line-height-third);
    color: var(--header-txt);
}

.about-subtitle::after {
    content: '';
    background-image: url(../images/second-page/icons/right-spoon.png);
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40px;
    height: 9px;
}

.about-title {
    color: var(--main-gold-txt);
    font-size: 64px;
    line-height: var(--line-height-third);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-second);
    width: 614px;
    text-transform: capitalize;
    padding-bottom: 32px;
}

.about-desc {
    color: var(--main-desc);
    font-size: 16px;
    width: 523px;
    font-family: var(--second-family);
    padding-bottom: 32px;
}

.about-btn {
    background-color: var(--main-gold-txt);
    padding: 8px 32px;
    color: var(--view-btn-txt);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
}

.poison {
    padding-top: 201px;
    padding-bottom: 152px;
    text-align: center;
}

.poison-subtitle {
    color: var(--header-txt);
    font-size: 23px;
    font-weight: 700;
    line-height: var(--line-height-third);
}

.poison-subtitle::after {
    content: '';
    background-image: url(../images/second-page/icons/right-spoon.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 9px;
}

.poison-title {
    font-size: 64px;
    font-weight: 600;
    color: var(--main-gold-txt);
    line-height: var(--line-height-third);
    padding-bottom: 64px;
}

.poison-list {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.poison-item {
    border: 1px solid;
    border-color: rgba(220, 202, 135, 0.505);
}

.poison-item-desc {
    font-weight: 600;
    font-size: 45px;
    line-height: var(--line-height-third);
    color: rgba(255, 255, 255, 0);
}

.poison-item-desc:hover {
    color: rgba(255, 255, 255, 1);
}

.first-item {
    background-image: url(../images/second-page/photos/beer.jpg);
    padding: 284px 175px 258px 153px;
}

.first-item:hover {
    background:
        linear-gradient(to top, rgba(12, 12, 12, 0.5),
            rgba(12, 12, 12, 0.5)),
        url(../images/second-page/photos/beer.jpg);
}

.second-item {
    background-image: url(../images/second-page/photos/wine.jpg);
    padding: 284px 187px 258px 158px;
}

.second-item:hover {
    background:
        linear-gradient(to top, rgba(12, 12, 12, 0.5),
            rgba(12, 12, 12, 0.5)),
        url(../images/second-page/photos/wine.jpg);
}

.third-item {
    background-image: url(../images/second-page/photos/alcohol.jpg);
    padding: 271px 119px 271px 120px;
}

.third-item:hover {
    background:
        linear-gradient(to top, rgba(12, 12, 12, 0.5),
            rgba(12, 12, 12, 0.5)),
        url(../images/second-page/photos/alcohol.jpg);
}

.hours {
    background:
        linear-gradient(to left, rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)),
        url(../images/second-page/photos/martini.jpg) center / cover no-repeat;
    padding-top: 330px;
    padding-bottom: 330px;
    text-align: center;
}

.hours-title {
    font-size: 128px;
    letter-spacing: var(--letter-spacing-second);
    line-height: var(--line-height-third);
    font-weight: 600;
    padding-bottom: 32px;
    color: var(--main-gold-txt);
}

.hours-desc {
    font-weight: 700;
    font-size: 32px;
    line-height: var(--line-height-third);
    color: var(--header-txt);
}

.find {
    padding-top: 128px;
    padding-bottom: 128px;
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
}

.find-container {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
}

.find-subtitle {
    font-weight: 700;
    font-size: 23px;
    color: var(--header-txt);
    line-height: var(--line-height-third);
}

.find-subtitle::after {
    content: '';
    display: block;
    background-image: url(../images/second-page/icons/right-spoon.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 40px;
    height: 9px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.find-title {
    color: var(--main-gold-txt);
    font-weight: 600;
    line-height: var(--line-height-third);
    font-size: 64px;
    padding-bottom: 64px;
}

.find-desc {
    font-family: var(--second-family);
    color: var(--main-desc);
    font-size: 16px;
    padding-bottom: 32px;
}

.find-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 64px;
}

.find-list-title {
    font-weight: 700;
    font-size: 23px;
    line-height: var(--line-height-third);
    color: var(--main-gold-txt);
    padding-bottom: 16px;
}

.find-item-desc {
    color: var(--header-txt);
    font-family: var(--second-family);
    font-size: 16px;
}

.find-btn {
    background-color: var(--main-gold-txt);
    padding: 8px 32px;
    color: var(--view-btn-txt);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
}

.footer {
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
    padding-bottom: 138px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    gap: 126px;
}

.footer-adress {
    text-align: center;
}

.footer-adress-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-adress-item-title {
    color: var(--subscribe-input-border);
    font-size: 32px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    margin-bottom: 24px;
}

.footer-adress-item-desc {
    color: var(--main-desc);
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
}

.footer-title {
    color: var(--main-gold-txt);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer-desc {
    color: var(--header-txt);
    text-align: center;
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    margin-bottom: 16px;
    width: 438px;
}

.footer-desc::after {
    content: '';
    background-image: url(../images/first-page/icons/right-spoon.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 9px;
    margin: 16px auto;
    display: block;
}

.footer-sm-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-item-title {
    color: var(--subscribe-input-border);
    font-size: 32px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    padding-bottom: 16px;
}

.footer-item-desc {
    color: var(--main-desc);
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
}

.footer-copyright {
    color: var(--main-desc);
    text-align: center;
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    display: block !important;
}

.footer-container {
    display: flex;
    gap: 64px;
    flex-direction: column;
}

.footer-box {
    display: flex;
    gap: 229px;
    align-items: center;
    justify-content: center;
}

/* ---------------- */
.newsletter {
    height: 500px;
    padding: 80px 180px;
}

.newsletter-container {
    background-color: var(--main-bg);
    border: 1px solid var(--main-gold-txt);
    background-color: var(--view-btn-txt);
    border: 1px solid var(--form-border-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.newsletter-title {
    color: var(--main-gold-txt);
    font-size: 64px;
    font-family: var(--font-family);
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.3px;
    padding-top: 8px;
    padding-bottom: 24px;
}

.newsletter-subtitle {
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 23px;
    letter-spacing: var(--letter-spacing-second);
    color: var(--header-txt);
    padding-bottom: 8px;
}

.newsletter-subtitle::after {
    content: '';
    background-image: url(../images/first-page/icons/right-spoon.png);
    background-repeat: no-repeat;
    display: block;
    height: 9px;
    background-position: center;
}

.newsletter-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: var(--letter-spacing-second);
    color: var(--header-txt);
    line-height: 175%;
}


.newsletter-input {
    padding: 16px 519px 16px 19px;
    font-weight: 600;
    font-family: var(--font-family);
    font-size: 16px;
    letter-spacing: var(--letter-spacing-second);
    background-color: var(--view-btn-txt);
    color: var(--main-desc);
    border: 1px solid var(--subscribe-input-border);
}

.newsletter-button {
    font-family: var(--font-family);
    padding: 8px 32px;
    font-weight: 700;
    font-size: 16px;
    color: var(--view-btn-txt);
    background-color: var(--main-gold-txt);
    border: 1px solid var(--main-gold-txt);
    margin-left: 32px;
}
.table{
    padding-top: 152px ;
    padding-bottom: 152px;
    background-color: var(--hero-btn-txt);
}

.table-container {
    background-color: var(--view-btn-txt);
    border: 1px solid var(--main-gold-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 68px;
    padding-bottom: 68px;

}

.table-subtitle {
    font-weight: 700;
    font-size: 23px;
    font-family: var(--font-family);
    color: var(--header-txt);

}

.table-subtitle::after {
    content: '';
    background-image: url(../images/first-page/icons/right-spoon.png);
    background-repeat: no-repeat;
    display: block;
    height: 9px;
    background-position: center;
}

.table-title {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--main-gold-txt);
    padding-bottom: 64px;
}

.table-select {
    padding: 16px 316px 16px 16px;
    background-color: var(--view-btn-txt);
    border: 1px solid var(--subscribe-input-border);
    color: var(--main-desc);
    font-weight: 600;
    font-family: var(--font-family);
    font-size: 16px;
    letter-spacing: 4%;
}

.table-form {
    display: flex;
    gap: 32px;
    padding-bottom: 64px;
}

.table-button {
    padding: 8px 32px;
    color: var(--view-btn-txt);
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 16px;
    letter-spacing: 4%;
    background-color: var(--main-gold-txt);
    border: 1px solid var(--main-gold-txt);
}

.find-btn {
    background-color: var(--main-gold-txt);
    padding: 8px 32px;
    color: var(--view-btn-txt);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
}

.table-select-person,
.table-select-time,
.table-select-date {
    color: var(--main-desc);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
}

.updates-subtitle {
    display: block;
    font-size: 23px;
    color: var(--header-txt);
    text-align: center;
    font-family: var(--font-family);
    margin-top: 152px;
}